<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bayside.app.opinion.war.quanxian.dao.QuanxianMapper" >
  <resultMap id="BaseResultMap" type="com.bayside.app.opinion.war.quanxian.model.quanxian" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="resUrl" property="resUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID,type,name,reUrl
  </sql>
  
 <!-- 获取用户可访问资源 --> 
 <select id="selectResUrl" resultMap="BaseResultMap" parameterType="java.lang.String">
 select * from user_role ur,resources_role rr,resources re where ur.user_id=#{id,jdbcType=VARCHAR} and ur.role_id=rr.role_id and rr.resc_id=re.id
 </select>
 <!-- 用户登录判断 -->
 <select id="loginPanduan" resultType="int" parameterType="Map">
 select count(id) from bs_user where code=#{zhanghao,jdbcType=VARCHAR} and password=#{password,jdbcType=VARCHAR}
 </select>
 
</mapper>